body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #171717;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }

.navigation{
  width: 100%;
  height: 4%;
  padding-top: 0px;
  margin-top: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

form {
  display: flex;
  flex-direction: column;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.form-input {
  width: 50%;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
}
.form-button {
  width: 50%;
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 16px;
  color: white;
}
.form-button:hover {
  transform:scale(1.01);
  opacity:0.7
}


footer {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: #272727;
}

li {
    margin-left: 12%;
    float: left;
}

li a {
    display: box;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#FFFFFF;
}

li a:hover {
    background-color: #FFA756;
}

.HomeImageContainer{
    position: relative;
    text-align: center;
    color: white;
}


.HomeHeader1{
    font-size:75px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.HomeSubHeader1{
    font-size: 25px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerhome {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.image-header {
  text-align: center;
  color: white;
  font-size: 300%;
  font: bold;
  width:75%;
}

.image-subheader {
  padding-top: 8%;
  text-align: center;
  color: lightgrey;
  font-size: 150%;
}

.image-header, .image-subheader {
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover{
  transform:scale(1.01);
  opacity:0.7
}

footer {
    background-color: #272727;
    color: white;
    padding: 20px;
    text-align: center;
}

.whoAboutSubHead{
  color: white;
  font-weight: bold;
  text-align: center;
}

.whoAboutText{
  color: white;
  text-align: center;
}

.reviewText{
  text-align: center;
  color: white;
  border: #272727;
}

.question {
  font-size: 28px;
  text-align: center;
  color: white;
  margin-top: 5%;
}
.answer {
  margin-top: 0.5%;
  font-size: 16px;
  color: lightgrey;
  text-align: center;
}

.FAQEnd{
  margin-top: 5%;
  text-align: center;
  color:#FFA756;
  font-size: 28px;
  font: bolder;
  margin-bottom: 1%;
}
