body {
    width: 95vw;
    height: 100vh;
    margin: 0 auto;
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    display: flex;
    width: 100%;
    justify-content: center;
    color: rgb(228, 225, 224);
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(224, 217, 212);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(206, 205, 205);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    text-align: center;
}

.logo{
    color: mediumpurple;
    background-color: (228, 225, 224);
}